video.background-vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  filter: grayscale(100%);
  opacity: 60%;
}

.container {
  display: block;
  margin: 0 auto;
}

div.row2 {
  height: 300px;
}

.row {
  padding-top: 20px;
}

.row2 {
  padding-top: 30px;
}

div.col-6.map {
  padding-right: 30px;
}

button.btn-primary,
label.btn-secondary {
  color: Black;
  background-color: #ced4da;
  border: 1px solid black;
}

button.btn-primary:hover,
label.btn-secondary:hover {
  color: Black;
  background-color: transparent;
  border: 1px solid black;
}

button.btn-primary:focus {
  color: Black !important;
  background-color: transparent !important;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

h1 {
  color: black;
}

div.row-date-time {
  padding-top: 0px;
}

h2.date-time {
  font-size: 16px;
  color: black;
}

il.weather-details {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

i {
  color: white;
}

#current-weather-img {
  font-size: 140px;
}

.weather-list {
  padding-top: 20px;
  padding-bottom: 30px;
  vertical-align: middle;
}

.weather-icon-current {
  padding-left: 30px !important;
}

.row2a,
.row2b,
.row2c {
  padding-left: 20px;
}
.card-img-top {
  height: 75px;
  max-width: 90px;
  opacity: 80%;
  filter: grayscale(10%);
}

.card-body {
  display: block;
  margin: 0 auto;
}

.card {
  background-color: rgba(108, 110, 112, 0.85) !important;
}

h5,
p {
  color: black;
  text-align: center;
  font-weight: bold;
}
video.background-vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  filter: grayscale(100%);
  opacity: 60%;
}

.container {
  display: block;
  margin: 0 auto;
}

div.row2 {
  height: 300px;
}

.row {
  padding-top: 20px;
}

.row2 {
  padding-top: 30px;
}

div.col-6.map {
  padding-right: 30px;
}

button.btn-primary,
label.btn-secondary {
  color: Black;
  background-color: #ced4da;
  border: 1px solid black;
}

button.btn-primary:hover,
label.btn-secondary:hover {
  color: Black;
  background-color: transparent;
  border: 1px solid black;
}

button.btn-primary:focus {
  color: Black !important;
  background-color: transparent !important;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

iframe.google-maps {
  width: 100%;
  height: 300px;
}

h1 {
  color: black;
}

div.row-date-time {
  padding-top: 0px;
}

h2.date-time {
  font-size: 16px;
  color: black;
}

il.weather-details {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

i {
  font-size: 140px;
  color: white;
}

.weather-list {
  padding-top: 20px;
  padding-bottom: 30px;
  vertical-align: middle;
}

.weather-icon-current {
  padding-left: 30px !important;
}

.row2a,
.row2b,
.row2c {
  padding-left: 20px;
}
.card-img-top {
  height: 75px;
  max-width: 90px;
  opacity: 80%;
  filter: grayscale(10%);
}

.card-body {
  display: block;
  margin: 0 auto;
}

.card {
  background-color: rgba(108, 110, 112, 0.85) !important;
}

h5,
p {
  color: black;
  text-align: center;
  font-weight: bold;
}

.fa-location-arrow {
  display: inline-block;
  height: 24px;
  color: black;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
}

.fa-location-arrow {
  display: inline-block;
  height: 24px;
  color: black;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
}

.open-source-code {
  text-align: center;
  font-size: 15px;
  color: black;
  font-family: system-ui;
  margin: 20px;
}

a {
  color: black !important;
  text-decoration: underline !important;
}
